<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFfG08i4KIJ7J2ydXGrcvx5TrBjJwBCTY</string>
	<key>GCM_SENDER_ID</key>
	<string>803726674093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codemire.buzzer.buzzerApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>buzzerapp-abd6d</string>
	<key>STORAGE_BUCKET</key>
	<string>buzzerapp-abd6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803726674093:ios:a5ff53b2270fe2bafa5e24</string>
</dict>
</plist>